<hr>
<div class="container pt-3">
  <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
    <div class="contact-details">
      <h4>Contact Me</h4>
      <ul class="contact">
        <li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> Bangalore, Karnataka, India</p></li>
        <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (+91) 7736382208</p></li>
        <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:abhaisasidharan@gmail.com"> abhai@abhaisasidharan.xyz</a></p></li>
      </ul>
    </div>
  </div>
</div>