   <div class="flip-container centered">
      <div class="flipper">
         <div class="front"></div>
         <div class="back">
            <h1>Petrus Rex</h1>
      <p>Web Design & Development</p>
         <div class="font-a-icons">
            <div class="icon-group">
               <span class="bold">T: </span><span class="contact">512-773-0889</span>
            <div class="icon-group">
                <span class="bold">E: </span><a class="contact" href="mailto:hello@petrusrex.com" target="_top">hello@petrusrex.com</a>
            </div>
            <div class="icon-group">
               <a class="contact" href="http://www.petrusrex.com" target="_blank">www.petrusrex.com</a>
            </div>
         </div>
      </div>   
      <a class="icon-box" href="https://www.facebook.com/xpetrus.rex" target="_blank"><i class="fa fa-facebook"></i></a>
      <a class="icon-box" href="https://twitter.com/Gothburz" target="_blank"><i class="fa fa-twitter"></i></a>
      <a class="icon-box" href="https://plus.google.com/u/0/+PetrusRex/" target="_blank"><i class="fa fa-google-plus"></i></a>
      <a class="icon-box" href="https://www.linkedin.com/in/xpetrus" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a class="icon-box" href="https://codepen.io/Gothburz/" target="_blank"><i class="fa fa-codepen"></i></a>
      <a class="icon-box" href="https://github.com/Gothburz" target="_blank"><i class="fa fa-github"></i></a>
         </div>
      </div>
   </div>