<div id="contact-{{ view }}">
   <div class="flip-container">
      <div class="flipper">
         <div class="front"></div>
         <div class="back">
            <h1>Abhai Sasidharan</h1>
      <p>Drupal Engineer & Consultant</p>
         <div class="font-a-icons">
            <div class="icon-group">
               <span class="bold">T: </span><span class="contact">+91 7736382208</span>
            <div class="icon-group">
                  <span class="bold">E: </span><a class="contact" href="mailto:abhai@abhaisasidharan.xyz" target="_top">abhai@abhaisasidharan.xyz</a>
            </div>
            <div class="icon-group">
               <a class="contact" href="https://www.abhaisasidharan.xyz" target="_blank">www.abhaisasidharan.xyz</a>
            </div>
         </div>
      </div>   
      <a class="icon-box" href="https://www.facebook.com/abhaisasidharan" target="_blank"><i class="fab fa-facebook"></i></a>
      <a class="icon-box" href="https://www.twitter.com/abhaisasidharan" target="_blank"><i class="fab fa-twitter"></i></a>
      <a class="icon-box" href="https://www.linkedin.com/in/abhaisasidharan" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a class="icon-box" href="https://github.com/codingsasi" target="_blank"><i class="fab fa-github"></i></a>
         </div>
      </div>
   </div>
</div>