<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="/about" routerLinkActive="active">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item" routerLink="/my-works" routerLinkActive="active">
        <a class="nav-link" outerLink="/my-works">My Works?</a>
      </li>
      <li class="nav-item" routerLink="/blog" routerLinkActive="active">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item" routerLink="/contact-me" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact-me">Contact Me</a>
      </li>
      <li class="nav-item" routerLink="/resume" routerLinkActive="active">
        <a class="nav-link" routerLink="/resume">Resume</a>
      </li>
      <li class="nav-item" routerLink="/humour" routerLinkActive="active">
        <a class="nav-link" routerLink="/humour">Humour</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
