<div class="row py-5" id="resume">
  <section style="min-height:50em" class="col-md-12">
    <div class="resume"><div><div class="row">
      <section class="col-md-8">
        <header>
          <h1>Abhai Sasidharan</h1>
          <span class="subtitle">Full-Stack Software Engineer</span>
        </header>
        <section class="main-block">
          <h2>
            <i class="fa fa-suitcase"></i> Experiences
          </h2>
          <section class="blocks">
            <div class="date">
              <span>Present</span><span>2016</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3>Drupal Engineer - BE</h3>
                <span class="place"><a href="https://www.axelerant.com" target="_blank">Axelerant</a></span>
                <span class="location"><i class="fas fa-map-pin"></i> (remote)</span>
              </header>
              <div>
                <ul>
                  <li>Drupal 7, Drupal 8 web development, creating custom modules, migration, behat automation.</li>
                  <li>Support and maintenance for Drupal 7, Drupal 8 websites.</li>
                </ul>
                </div>
            </div>
          </section>
          <section class="blocks">
            <div class="date">
              <span>2016</span><span>2014</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3>Software Developer</h3>
                <span class="place"><a href="https://www.zyxware.com" target="_blank">Zyxware Technologies</a></span>
                <span class="location"><i class="fas fa-map-pin"></i> Trivandrum, India</span>
              </header>
              <div>
                <ul>
                  <li>Developing Drupal Modules, web applications and occasionally coordinating with marketing team creating whitepapers, articles, presentations to help bring in business.</li>
                  <li>Editing and designing the office internal newsletter.</li>
                  <li>Developing Drupal Modules for Data Driven Digital Marketing in Drupal websites.</li>
                </ul>
              </div>
            </div>
          </section>
          <section class="blocks">
            <div class="date">
              <span>2014</span><span>2012</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3>PHP/Android Developer</h3>
                <span class="place">Freelance</span>
                <span class="location"><i class="fas fa-map-pin"></i> Trivandrum, India</span>
              </header>
              <div>
                <ul>
                  <li>Web/android development, training, consulting.</li>
                </ul>
                </div>
            </div>
          </section>
        </section>
        <section class="main-block">
          <h2>
            <i class="fa fa-folder-open"></i> Selected Projects
          </h2>
          <section class="blocks">
            <div class="date">
              <span>Drupal 8</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3>Project Management Portal *</h3>
                <span class="place">Axelerant</span>
              </header>
              <div>
                <ul>
                  <li>Worked on the workflow functionality of nodes. (D8 workflow module)</li>
                  <li>Added custom D8 view fields and filters to filter by workflow state.</li>
                  <li>Advanced configuration forms for EMails.</li>
                  <li>Custom tokens.</li>
                  <li>Paragraphs Widgets.</li>
                  <li>Advanced plugins, fields, blocks creation.</li>
                </ul>
              </div>
            </div>
          </section>
          <section class="blocks">
            <div class="date">
              <span>Drupal 8</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3><a href="/">Personal Blog</a></h3>
                <span class="place">Axelerant</span>
              </header>
              <div>
                <ul>
                  <li>Drupal 8 “Porto” theme.</li>
                  <li>Login with google, facebook, twitter using Social Auth module.</li>
                  <li>Social media integration with third party applications (sumo.me, disqus).</li>
                  <li>Social media plugins; facebook, instagram, twitter.</li>
                  <li>Decoupling of site is on-going. API is enabled for entire site.</li>
                  <li>Decoupled angular site here <a href="http://headless.abhaisasidharan.xyz" target="_blank">headless.abhaisasidharan.xyz</a></li>
                </ul>
              </div>
            </div>
          </section>
          <section class="blocks">
            <div class="date">
              <span>Drupal 7</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3><a href="https://www.scout.org/" target="_blank">Scout Worldwide</a></h3>
                <span class="place">Axelerant</span>
              </header>
              <div>
                <ul>
                  <li>Maintenance of the website - Bug Fixes and adding new features. Handled bugs and features related to backend and small front end fixes.</li>
                </ul>
              </div>
            </div>
          </section>
          <section class="blocks">
            <div class="date">
              <span>Drupal 7</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3><a href="https://ics.crs.org/" target="_blank">Institute for Capacity Strengthening</a></h3>
                <span class="place">Axelerant</span>
              </header>
              <div>
                <ul>
                  <li>Handling of BE tasks.</li>
                  <li>Fixing theme related issues.</li>
                  <li>Addition of new features.</li>
                </ul>
              </div>
            </div>
          </section>
          <section class="blocks">
            <div class="date">
              <span>Drupal 7</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3><a href="http://emc-oman.com/" target="_blank">EMC Oman</a></h3>
                <span class="place">Freelance</span>
              </header>
              <div>
                <ul>
                  <li>Complete Multi-lingual (English + Arabic) website from scratch.</li>
                  <li>Customizing theme (Porto).</li>
                  <li>Online appointment booking and callback.</li>
                  <li>Search Engine Optimization and metadata.</li>
                </ul>
              </div>
            </div>
          </section>
          <section class="blocks">
            <div class="date">
              <span>Drupal 7</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3><a href="https://www.zyxware.com/" target="_blank">Zyxware Digital Marketing</a></h3>
                <span class="place">Zyxware</span>
              </header>
              <div>
                <ul>
                  <li>Maintenance of website and Data Driven Digital Marketing.</li>
                  <li>Handling of BE tasks.</li>
                  <li>Fixing theme related issues and addition of new features.</li>
                  <li>Create JavaScript framework for displaying ads and lead generation mechanisms throughout the site.</li>
                  <li>Classify and analyze the site traffic (events, clicks, page views etc) using google analytics for better lead generation.</li>
                  <li>Manage all technology decisions in the Digital Marketing team.</li>
                  <li>Manage a team of developers to implement the technology required to help Data Driven Digital Marketing.</li>
                  <li>Writing articles and edit the company newsletter.</li>
                </ul>
              </div>
            </div>
          </section>
          <section class="blocks">
            <div class="date">
              <span>Drupal 7</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3>e-Tendering system for foreign government *</h3>
                <span class="place">Zyxware</span>
              </header>
              <div>
                <ul>
                  <li>Multilingual e-Tendering system with provision to publish specifications and accept bids.</li>
                  <li>Debugging and refactoring existing code.</li>
                  <li>Developed complex multi-step application forms for prospective clients and employers (anonymous users).</li>
                </ul>
              </div>
            </div>
          </section>
          <section class="blocks">
            <div class="date">
              <span>Drupal 7</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3><a href="https://www.zyxware.com/" target="_blank">Zyxware Website Migration</a></h3>
                <span class="place">Zyxware</span>
              </header>
              <div>
                <ul>
                  <li>Drupal 6 to Drupal 7 migration with documentation of all the functionality in the site prior to migration and also responsible for migrating all custom modules to D7.</li>
                  <li>Documented the website and made a list of all the enabled modules using drush prior to migration and backed up code and database.</li>
                  <li>Worked on the theme settings and template of the new Zyxware theme.</li>
                  <li>Overall debugging and improving the quality of Zyxware site regarding the front end like theme, sliders and hover buttons.</li>
                  <li>Created custom php scripts to update database.</li>
                </ul>
              </div>
            </div>
          </section>
          <section class="blocks">
            <div class="date">
              <span>Drupal 7</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3>HR Analytics Package *</h3>
                <span class="place">Zyxware</span>
              </header>
              <div>
                <ul>
                  <li>Web software package designed for the HR of an organization to measure the daily wellness of all employees in the organization based on a specific set of parameters.</li>
                  <li>Creating a custom Drupal module that runs analytics on a set of metrics received from a questionnaire.</li>
                  <li>Programmed the algorithm that displays the metrics based on previous answers, with variable frequency.</li>
                  <li>Created custom view page to add/manage agreement forms.</li>
                  <li>Created custom page to view income vs expense values of various activities in the organization with a tabular view of the expenses.</li>
                </ul>
              </div>
            </div>
          </section>
        </section>
        <section class="main-block">
          <h2>
            <i class="fa fa-paperclip"></i> Academic Work
          </h2>
          <section class="blocks">
            <div class="date">
              <span>Title</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3>Meta compiler for Java and C++</h3>
                <span class="place">Project</span>
              </header>
              <div>
                <ul>
                  <li>Project involves development of a uniform platform for compilation of java and/or C++ code, consequently merging the advantages of both C++ and Java constraints. We successfully merged the basic standard library and keywords of each.</li>
                </ul>
              </div>
            </div>
          </section>
          <section class="blocks">
            <div class="date">
              <span>Title</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3>Insurance Company Database Management Software</h3>
                <span class="place">Project</span>
              </header>
              <div>
                <ul>
                  <li>Project involves development of a java based user-friendly application software designed to enter and manipulate data in a motor vehicles insurance company.</li>
                </ul>
              </div>
            </div>
          </section>
          <section class="blocks">
            <div class="date">
              <span>Title</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3>Brain Computer Interface for Communication and control; Pattern Recognition Algorithms</h3>
                <span class="place">Paper</span>
              </header>
              <div>
                <ul>
                  <li>This highlights a non-invasive neural interface for prosthetic/powered robotic exoskeletons based on electroencephalogram (EEG) for paraplegics. An understanding of the Pattern Recognition algorithms used in this process.</li>
                </ul>
              </div>
            </div>
          </section>
        </section>
        <section class="main-block concise">
          <h2>
            <i class="fa fa-graduation-cap"></i> Education
          </h2>
          <section class="blocks">
            <div class="date">
              <span>2009</span><span>2013</span>
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h3>B.tech Computer Science (Dropped Out)</h3>
                <span class="place">Sree Chitra Thirunal College of Engineering</span>
                <span class="location"><i class="fas fa-map-pin"></i> Trivandrum, India</span>
              </header>
            </div>
          </section>
        </section>
        <section class="main-block concise">
          <h2>
            <i class="fa fa-book"></i> Publications
          </h2>
          <section class="blocks">
            <div class="date">
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h6><a href="https://www.abhaisasidharan.xyz/blog" target="_blank">A Sophisticated Blog</a></h6>
                <h6><a href="https://www.axelerant.com/resources/team-blog/author/abhai-sasidharan-back-end-developer" target="_blank">Axelerant Blog</a></h6>
                <h6><a href="https://www.zyxware.com/blogs/abhai.sasidharan" target="_blank">Zyxware Blog</a></h6>
              </header>
            </div>
          </section>
        </section>
        <section class="main-block concise">
          <h2>
            <i class="fa fa-quidditch"></i> Interests
          </h2>
          <section class="blocks">
            <div class="date">
            </div>
            <div class="decorator">
            </div>
            <div class="details">
              <header>
                <h6>Writing, Reading</h6>
                <h6>Photography</h6>            
                <h6>Web Development</h6>
                <h6>Science &amp; Technology</h6>
              </header>
            </div>
          </section>
        </section>
        <hr>
        <small>
          * Confidentiality agreements with my employer or me prevents myself from revealing the name or exact details.
        </small>
      </section>
      <aside class="col-md-4 bg-light">
        <div class="side-block">
          <button class="btn btn-primary">Contact Info</button>
          <ul class="pl-3 pt-2">
            <li><i class="fa fa-globe"></i> <a href="/">abhaisasidharan.xyz</a></li>
            <li><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/abhaisasidharan">linkedin</a></li>
            <li><i class="fab fa-facebook"></i> <a href="https://www.facebook.com/abhaisasidharan">facebook</a></li>        
            <li><i class="fa fa-envelope"></i> <a href="mailto:abhai@abhaisasidharan.xyz?Subject=Hello%20Abhai">abhai@abhaisasidharan.xyz</a></li>
            <li><i class="fa fa-phone"></i> +91 7736382208 </li>
          </ul>
        </div>
        <div class="side-block">
          <h2>
            Skills
          </h2>
          <ul class="pl-3 pt-2">
            <li>Linux, Windows</li>
          </ul>
          <ul class="pl-3 pt-2">
            <li>Drupal 7/8 (Expert)</li>
            <li>Wordpress</li>
            <li>Django, Scrapy</li>
            <li>Bootstrap</li>
          </ul>
          <ul class="pl-3 pt-2">
            <li>C, C++, Bash</li>
            <li>HTML, PHP</li>
            <li>Python, </li>
            <li>Java, MySQL</li>
            <li>CSS, SASS</li>
            <li>JavaScript, JQuery</li>
            <li>Angular</li>
          </ul>
          <ul class="pl-3 pt-2">
            <li>Dev Ops (Debian Server)</li>
            <li>Acquia, Pantheon, Platform.sh</li>
            <li>Docker, Vagrant, VirtualBox</li>
            <li>Gogs, Gitlabs CI, Drone CI/CD</li>
          </ul>
          <ul class="pl-3 pt-2">
            <li>Site-building</li>
            <li>Back-End Development (Expert)</li>
            <li>Front-End Development (Competent)</li>
          </ul>
          <h2>
            My Superpowers
          </h2>
          <ul class="pl-3 pt-2">
            <li>Communication</li>
            <li>Adaptable</li>
            <li>Perspicacity</li>
            <li>Ardent Proponent of FOSS</li>
            <li>Automation Buff</li>
            <li><a href="/humour">Humorous coder</a></li>
          </ul>
        </div>
        <a href="/extensions/generatePDF" target="_blank" class="btn btn-primary button--primary">Download CV</a>
        <div class="side-block">
          This résumé was wholly typeset with HTML/CSS — see <code>git.io/vVSYL</code>
        </div>
      </aside>
    </div></div></div>
  </section>
</div>