<div class="blog--timeline">
  <article *ngFor="let blog of blogs" class="blog--thumbnail">
    <div class="blog-thumbnail--image row">
      <img src="{{ blog.thumbnail }}" style="width:80%; height: 60%" class="rounded img-fluid">
    </div>
    <div class="blog-thumbnail--title row">
      <h4><a href="/blog/{{ blog.id }}">{{ blog.title }}</a></h4>
      <p>{{ blog.summary }}</p>
    </div>
    <div class="blog-thumbnail--created row">
    <div class="col-md-12">
      <span><i class="fa fa-calendar"></i> March 04, 2018 </span><br>
    </div>
</div>
  </article>
</div>