@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

#contact-sidebar {
    padding: 0;
 
    .flip-container {
        transform: scale(0.68);
        left: -5.5rem;
        position: relative;
        perspective: 1000px;
    }
}
hr {
    background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
    border: 0;
    height: 1px;
    margin: 22px 0;
}